[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
black = "*"
click = "*"
pyjwt = "*"
python-dotenv = "*"
rich = "*"
sentry-sdk = "*"
pyyaml = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
flake8-html = "*"
rich-click = "*"

[dev-packages]

[requires]
python_version = "3.13"
