[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
black = "*"
click = "*"
python-dotenv = "*"
sentry-sdk = "*"
pyyaml = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
flake8-html = "*"
rich-click = "*"
alembic = "*"
keyring = "*"
cryptography = "*"
rich = "*"
argon2-cffi = "*"
passlib = "*"
pymysql = "*"
pyjwt = "*"
"keyrings.alt" = "*"

[dev-packages]

[requires]
python_version = "3.13"
